body {
	background: no-repeat url(../img/background.min.jpg);
	font-family: 'OctinSpraypaintARgRegular', sans-serif;
	margin-top: 2em;
}

p {
	text-transform: uppercase;
	font-size: 1.3em;
	color: #0A5047;
}

/* 	Responsive iframe taken from: 
	CSS-Tricks: Fluid Width Video
	http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top: 1.5em; /* custom */
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}